.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.253);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    
    z-index: 1000;

    @media (max-width: 600px) {
        width: 100vw;
        height: 100%;
        border-radius: 0;
        padding: 0;
    }
}

.modal {
    background: white;
    border-radius: 12px;
    padding: 32px;
    margin-top: 36px;

    label {
        margin-top: 32px;
    }

    width: 450px; 
    height: 286px;
    max-width: 90%; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s; 
    
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.modal-content {
    margin-top: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
